<form class="d-flex mx-auto">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<h1>Home#page</h1>
<%=image_tag "toy-car.jpg", class: "landing_pic"%>
<%# <p>Find me in app/views/home/page.html.erb</p> %>
